/.idea/
/*.iml

/vendor/
/vendor-bin/*/vendor/

/.php-cs-fixer.cache
/tests/.phpunit.cache

/node_modules/
/js/
/css/
/tests/bin/test_cypress_component.sh.log
/tests/bin/test_cypress_e2e.sh.log
/cypress/screenshots/
/tmp/Ticket.txt
/tmp/
